QUERY_PROCESSING.json
{
  "name": "QUERY_PROCESSING",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed119723-ea83-42ed-b4f1-1043dfc22509",
              "leftValue": "={{$json.body.chatInput}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3296,
        1776
      ],
      "id": "a912ca82-dc5a-47c9-9ad4-8264b26b60e6",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc660c14-6cf6-4ed7-8c6e-9e9aea358ac4",
              "name": "userQuery",
              "value": "={{$json.body.chatInput.trim()}}",
              "type": "string"
            },
            {
              "id": "27da0f5c-9c37-4c4b-992c-20c880cdde14",
              "name": "sessionID",
              "value": "={{$json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "e1bdd93b-a560-47a5-9872-ef936aa918d2",
              "name": "langauge",
              "value": "={{$json.body.language}}",
              "type": "string"
            },
            {
              "id": "16f36b26-2230-407a-8cc8-a7cdaa05f0e6",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3744,
        1680
      ],
      "id": "c78c9cd7-838b-47ad-b3f8-f24a086ad11f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.userQuery}}\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4032,
        1776
      ],
      "id": "e0891f40-ef4f-4422-ab02-063b7ddad0e9",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.sessionId}}\n",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4096,
        2000
      ],
      "id": "fcd4c252-8ae2-41fe-b6be-5e7aaba556ab",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "INgIpOKEiIopsOLT",
          "name": "NyayaSulabh Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data from the supabase vector database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4224,
        2000
      ],
      "id": "0f55641a-b818-4a20-9366-645fe4b2d7d3",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "0R8W4SKktOxJHtj0",
          "name": "NyayaSulabh Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        4304,
        2208
      ],
      "id": "0f367e80-f7c0-4f7b-b443-9112f4134f8d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "WHdmaqhjjPeUHqDK",
          "name": "NyayaSulabh1"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3968,
        2000
      ],
      "id": "7b423d66-c202-4e9e-9fcc-5394e70c32e6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "c3W1kUMxGiz4ZpO4",
          "name": "NyayaSulabh"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4512,
        1776
      ],
      "id": "7597315a-79ea-47f8-9dbc-be373e30c69f",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.deepgram.com/v1/listen?model=nova-2&smart_format=true&punctuate=true&language={{$json.body.language}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token cdc0da3ed796ff7de415c220d608e9bd46008d83"
            },
            {
              "name": "Content-Type",
              "value": "={{$binary.audio.mimeType}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3520,
        1872
      ],
      "id": "fba85912-50cc-49e3-9b45-1b8019dc1b5f",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "246b5488-fe19-42ae-9e0d-5f4e8298a308",
              "name": "userQuery",
              "value": "={{$json.results.channels[0].alternatives[0].transcript.trim()}}",
              "type": "string"
            },
            {
              "id": "88f962f5-fdd6-4181-93ad-61a570a6f3e7",
              "name": "sessionID",
              "value": "={{$node[\"Webhook2\"].json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "6079dff9-fb1b-4849-bf80-11c872b766c3",
              "name": "language",
              "value": "={{$node[\"Webhook2\"].json.body.language}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3744,
        1872
      ],
      "id": "c1473bb2-97eb-4fbe-af5f-9f303aa635c9",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3072,
        1776
      ],
      "id": "85f8c5a1-72d2-44c5-a6d9-decf81bb0950",
      "name": "Webhook2",
      "webhookId": "27af9f6f-7326-4b3b-8314-bb190cf6f9f5"
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8e0eaf98-20f6-44b6-a7a7-abbe135337f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c84d9c7d3794d3b28e8537780d5d7aa14ed236e47a7026fe844ccfd7c08ba11"
  },
  "id": "5wGbYFp1xm0ydGg_obgM1",
  "tags": []
}