RAG and Query.json
{
  "name": "RAG UPDATED",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "file0",
        "name": "={{ $binary.file0.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A9wkAtmAEgVNhFQU_HRQF9FU60FADU_S",
          "mode": "list",
          "cachedResultName": "NyayaSulabh",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A9wkAtmAEgVNhFQU_HRQF9FU60FADU_S"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        2496
      ],
      "id": "8f523999-f8db-4d8e-b67f-a0bee9436a7a",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qja9qQ1GEjuoS7Rb",
          "name": "NyayaSulabh Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        2496
      ],
      "id": "05028292-b302-441f-b9dc-d7afe1a53657",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qja9qQ1GEjuoS7Rb",
          "name": "NyayaSulabh Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        2496
      ],
      "id": "c4ec832e-3d54-4fb5-850a-58e1ceb09893",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "tmTXPNx3bAyvjWg1",
          "name": "NyayaSulabh Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        2704
      ],
      "id": "6a9abe04-8cc7-40ea-aab5-9ef090f31454",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14b64ceb-433c-4ea1-9576-19d5d915cf4e",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        2496
      ],
      "id": "01f62f28-8bc5-4a29-9a91-aacf8873e7b4",
      "name": "Webhook2",
      "webhookId": "14b64ceb-433c-4ea1-9576-19d5d915cf4e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "13109872-1483-481a-b259-f704977f2b28",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        2880
      ],
      "id": "1f6cbe1b-1641-4a76-9de5-50065c3cc5fd",
      "name": "Webhook3",
      "webhookId": "13109872-1483-481a-b259-f704977f2b28"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        2880
      ],
      "id": "831b0342-4a69-4040-8e13-cc09348d829a",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -96,
        3104
      ],
      "id": "a9c983c4-a392-499a-a43e-20c63f72fbf6",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "xzuNV98YFHOqZQkc",
          "name": "NyayaSulabh Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data from the supabase vector database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        96,
        3040
      ],
      "id": "3698156c-93a2-45bc-bbb8-27c7f969c8bb",
      "name": "Supabase Vector Store4",
      "credentials": {
        "supabaseApi": {
          "id": "tmTXPNx3bAyvjWg1",
          "name": "NyayaSulabh Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        3200
      ],
      "id": "4778a6c9-182f-4b83-91cf-7d0fc0bdacd0",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        3088
      ],
      "id": "10230c7b-dc08-434c-ab9c-d00927960d72",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        2880
      ],
      "id": "6a5e7535-3a36-4b4a-97a4-706e3649c409",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Thank you for providing the document, please ask your query.....",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        2496
      ],
      "id": "378985af-9c68-49b3-b860-a6ff1453c26b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        256,
        2704
      ],
      "id": "91f12b66-6fde-4645-b087-cc6f8ae87e9c",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload file1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "23ee251f-0abc-433a-bb99-7dd38f490ddb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91b466a56f5870e42e0efd814e3075cdac21fceb93bf3680ca1bb6b55b776a90"
  },
  "id": "FeMBz7rNUI3NEGbrFEx52",
  "tags": []
}