UPLAOD_AND_SUMMARIZATION.json
{
  "name": "UPLAOD_AND_SUMMARIZATION",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "file0",
        "name": "={{ $binary.file0.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1A9wkAtmAEgVNhFQU_HRQF9FU60FADU_S",
          "mode": "list",
          "cachedResultName": "NyayaSulabh",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1A9wkAtmAEgVNhFQU_HRQF9FU60FADU_S"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        2496
      ],
      "id": "8f523999-f8db-4d8e-b67f-a0bee9436a7a",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qja9qQ1GEjuoS7Rb",
          "name": "NyayaSulabh Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        2496
      ],
      "id": "05028292-b302-441f-b9dc-d7afe1a53657",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qja9qQ1GEjuoS7Rb",
          "name": "NyayaSulabh Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -16,
        2496
      ],
      "id": "c4ec832e-3d54-4fb5-850a-58e1ceb09893",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "tmTXPNx3bAyvjWg1",
          "name": "NyayaSulabh Supabase"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        32,
        2672
      ],
      "id": "557db395-9b8c-4d01-bae7-4c1e0d35873a",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        2768
      ],
      "id": "6a9abe04-8cc7-40ea-aab5-9ef090f31454",
      "name": "Embeddings Google Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14b64ceb-433c-4ea1-9576-19d5d915cf4e",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        2480
      ],
      "id": "01f62f28-8bc5-4a29-9a91-aacf8873e7b4",
      "name": "Webhook2",
      "webhookId": "14b64ceb-433c-4ea1-9576-19d5d915cf4e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.userQuery}}\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        3488
      ],
      "id": "831b0342-4a69-4040-8e13-cc09348d829a",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        384,
        3712
      ],
      "id": "a9c983c4-a392-499a-a43e-20c63f72fbf6",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "xzuNV98YFHOqZQkc",
          "name": "NyayaSulabh Postgres"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data from the supabase vector database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 15,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        3712
      ],
      "id": "3698156c-93a2-45bc-bbb8-27c7f969c8bb",
      "name": "Supabase Vector Store4",
      "credentials": {
        "supabaseApi": {
          "id": "tmTXPNx3bAyvjWg1",
          "name": "NyayaSulabh Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        3920
      ],
      "id": "4778a6c9-182f-4b83-91cf-7d0fc0bdacd0",
      "name": "Embeddings Google Gemini4",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        3712
      ],
      "id": "10230c7b-dc08-434c-ab9c-d00927960d72",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "Bh9fTFE9NzhNWgNi",
          "name": "NyayaSulabh PCCOE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        3584
      ],
      "id": "6a5e7535-3a36-4b4a-97a4-706e3649c409",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.deepgram.com/v1/listen?model=nova-2&smart_format=true&punctuate=true&language={{$json.body.language}}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token cdc0da3ed796ff7de415c220d608e9bd46008d83"
            },
            {
              "name": "Content-Type",
              "value": "={{$binary.audio.mimeType}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "audio",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        3584
      ],
      "id": "ceac5d70-99c5-4f11-850d-ab0816de527e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "246b5488-fe19-42ae-9e0d-5f4e8298a308",
              "name": "userQuery",
              "value": "={{$json.results.channels[0].alternatives[0].transcript.trim()}}",
              "type": "string"
            },
            {
              "id": "88f962f5-fdd6-4181-93ad-61a570a6f3e7",
              "name": "sessionID",
              "value": "={{$node[\"Webhook\"].json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "6079dff9-fb1b-4849-bf80-11c872b766c3",
              "name": "language",
              "value": "={{$node[\"Webhook\"].json.body.language}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        3584
      ],
      "id": "67013782-d16a-49b2-a20a-71768ece965a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        3392
      ],
      "id": "9f4495cc-d168-485d-a42d-8472b041f30e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        3488
      ],
      "id": "2c39044f-066c-4562-ab5d-b57c5cf2c916",
      "name": "Webhook",
      "webhookId": "27af9f6f-7326-4b3b-8314-bb190cf6f9f5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed119723-ea83-42ed-b4f1-1043dfc22509",
              "leftValue": "={{$json.body.chatInput}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        3488
      ],
      "id": "f9048772-154d-4184-8925-c588713034d3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc660c14-6cf6-4ed7-8c6e-9e9aea358ac4",
              "name": "userQuery",
              "value": "={{$json.body.chatInput.trim()}}",
              "type": "string"
            },
            {
              "id": "27da0f5c-9c37-4c4b-992c-20c880cdde14",
              "name": "sessionID",
              "value": "={{$json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "e1bdd93b-a560-47a5-9872-ef936aa918d2",
              "name": "langauge",
              "value": "={{$json.body.language}}",
              "type": "string"
            },
            {
              "id": "16f36b26-2230-407a-8cc8-a7cdaa05f0e6",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        3392
      ],
      "id": "de737c95-40ce-4ec9-b368-e4801ff30871",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "binaryProperty": "file0",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        -528,
        2192
      ],
      "id": "28aa4b70-2073-4a30-af82-9ff7b0297e55",
      "name": "Extract text",
      "credentials": {
        "mistralCloudApi": {
          "id": "DyXc8SsBCFoXDCWy",
          "name": "NyayaSulabh OCR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5c90d6f4-1afc-440f-a089-09cd4d5287c9",
              "leftValue": "language",
              "rightValue": "english",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        2480
      ],
      "id": "3874aa5f-0dec-47de-8096-d472539ccc00",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=AIzaSyDTN4exlHxlJAijqdrvL5odpjrzikTusDk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents[0].parts[0].text",
              "value": "=You are a professional translation system used in a legal document pipeline.\n\nTASK:\nTranslate the text below into English.\n\nSTRICT RULES:\n- Translate ONLY what is explicitly present in the text.\n- DO NOT guess missing words.\n- DO NOT infer legal meaning.\n- DO NOT rewrite or summarize.\n- If the text is corrupted, unreadable, or not a real language, respond EXACTLY with:\n  \"TRANSLATION_NOT_POSSIBLE: Source text is corrupted or not in a translatable language.\"\n\nTEXT:\n{{ $json.pages[0].markdown }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        2192
      ],
      "id": "dafe2a84-9b7d-4148-b638-cbb3e913bc1c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=AIzaSyAj1xCbHc5raDG0Op-jl4u48tb1mAykvaY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"Translate this summary into \" + $('Webhook1').item.json.body.language + \":\\n\\n\" + $('HTTP Request4').item.json.candidates[0].content.parts[0].text }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        1888
      ],
      "id": "9470fe06-bc80-474d-b1e7-aa511fc675dc",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bb506a81-8b70-46c2-8e93-c80353deb07f",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        1888
      ],
      "id": "a28981e1-a825-45da-8b61-3b2e49ce8996",
      "name": "Webhook1",
      "webhookId": "bb506a81-8b70-46c2-8e93-c80353deb07f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=AIzaSyAj1xCbHc5raDG0Op-jl4u48tb1mAykvaY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": `You are a professional legal document translator.\n\nTask:\nTranslate the following PDF text into clear, formal English.\n\nRules:\n1. Translate ONLY what is written.\n2. Do NOT summarize.\n3. Preserve legal tone.\n4. Keep headings, dates, rule numbers.\n5. Maintain paragraph structure.\n6. If unclear text exists, write [unclear text].\n\nText to translate:\n${$('Extract from File').item.json.text}` }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        1888
      ],
      "id": "0549671e-d8e4-4653-97a7-154eeac671af",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key=AIzaSyAj1xCbHc5raDG0Op-jl4u48tb1mAykvaY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"contents\": [{ \"parts\": [{ \"text\": \"Summarize the following content in a precise and concise form:\\n\\n\" + $('HTTP Request3').item.json.candidates[0].content.parts[0].text }] }] } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        1888
      ],
      "id": "3e7842c5-3c9e-43d2-bc1d-a0a8734dbb72",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.candidates[0].content.parts[0].text }}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1552,
        1888
      ],
      "id": "3405542e-79fd-4490-9594-9a224de56b14",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "binaryProperty": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        704,
        1888
      ],
      "id": "dde37a15-32bc-434a-b344-a3a2c981951d",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "DyXc8SsBCFoXDCWy",
          "name": "NyayaSulabh OCR"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23aaccaf-cef7-43c8-ae41-45db5abaeabe",
              "name": "translated_text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        2192
      ],
      "id": "697e7180-f950-406a-9291-cf46cc055558",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0eb1f15d-7372-414b-814b-6b1a1d0653c5",
              "name": "File Name",
              "value": "={{ $binary.file0.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        2336
      ],
      "id": "8b288822-5594-41c9-9879-97db6e37e7aa",
      "name": "Edit Fields3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        2192
      ],
      "id": "7007e750-d6b1-465f-bfa0-3b71ca4fc6a7",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        384,
        2288
      ],
      "id": "2b0c1b04-7d47-444d-b771-fbc9e9a73afa",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3243993-8067-4e52-a2e0-17399306b1dc",
              "name": "translated_text",
              "value": "={{ $json.data[0].translated_text }}",
              "type": "string"
            },
            {
              "id": "d63c3f71-90a0-471e-a3da-eac2602af147",
              "name": "File Name",
              "value": "={{ $json.data[1][\"File Name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        2288
      ],
      "id": "9607555f-3359-4a15-bbe1-3b452fa71bfe",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "translated_text",
        "binaryPropertyName": "file0",
        "options": {
          "fileName": "={{ $json['File Name'].replace(/\\.pdf$/i, '.txt') }}\n"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        2288
      ],
      "id": "3d226ce8-9b19-48be-bd7f-026178a66c7a",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload file1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e8a4cca9-4443-4884-a34b-07e6ebf70fa7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91b466a56f5870e42e0efd814e3075cdac21fceb93bf3680ca1bb6b55b776a90"
  },
  "id": "FeMBz7rNUI3NEGbrFEx52",
  "tags": []
}