USER_AUTH_AND_SESSION_MANAGEMENT.json
{
  "name": "User Authentication and Session Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "14f339cf-5063-439b-8a66-e957f8f017fa",
      "name": "Authentication Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -8000,
        1888
      ],
      "webhookId": "756147e1-5d27-4821-be12-a6148b7b00e1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "operation",
              "value": "={{ $json.body.operation }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "password",
              "value": "={{ $json.body.password }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "token",
              "value": "={{ $json.body.token || $json.headers.authorization?.replace('Bearer ', '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3ac2ab7b-e940-44bc-92fc-8f0f043177e2",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7776,
        1888
      ]
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.password }}",
        "dataPropertyName": "passwordHash"
      },
      "id": "88ef571f-8faa-4f6a-8fac-0a0c17e8da86",
      "name": "Hash Password",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -6656,
        2096
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "=",
            "email": "={{ $json.email }}",
            "passwordhash": "={{ $json.passwordHash }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "passwordhash",
              "displayName": "passwordhash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "id": "133710e6-d51b-429e-ac2c-381669350b49",
      "name": "Create User Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6432,
        2096
      ],
      "credentials": {
        "postgres": {
          "id": "xzuNV98YFHOqZQkc",
          "name": "NyayaSulabh Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "name",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            },
            {
              "column": "passwordhash",
              "value": "={{ $json.passwordHash }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "email",
            "passwordhash"
          ],
          "largeNumbersOutput": "text"
        }
      },
      "id": "39a218f8-0ab4-4700-a6cf-542cb3a37ff0",
      "name": "Check User Exists",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7104,
        1472
      ],
      "credentials": {
        "postgres": {
          "id": "xzuNV98YFHOqZQkc",
          "name": "NyayaSulabh Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "edcb75df-3685-4dbe-9d6e-fb10e63b591f",
      "name": "User Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6880,
        1472
      ]
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n  \"userId\": {{ $json.id }},\n  \"email\": \"{{ $json.email }}\",\n  \"exp\": {{ Math.floor(Date.now() / 1000) + (24 * 60 * 60) }}\n}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "b052f3b4-9bfa-454e-8c35-cfd919149e56",
      "name": "Generate JWT Token",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -6208,
        1376
      ],
      "credentials": {
        "jwtAuth": {
          "id": "xIqlZojwc4EOsP1M",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'session:' + $json.token }}",
        "value": "={{ JSON.stringify({ userId: $json.id, email: $json.email, createdAt: $now.toISO() }) }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "9c4c9893-d1b8-4867-80ea-cd3c1d7704c9",
      "name": "Store Session in Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        1376
      ],
      "credentials": {
        "redis": {
          "id": "1PVQ1XWm7177LWSN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "user",
              "value": "={{ { id: $json.id || $json.userId, email: $json.email } }}",
              "type": "object"
            },
            {
              "id": "id-4",
              "name": "message",
              "value": "={{ $('Route by Operation').item.json.operation === 'signup' ? 'User registered successfully' : ($('Route by Operation').item.json.operation === 'login' ? 'Login successful' : 'Session valid') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a59e0d80-e36c-4443-b9ec-e67277472877",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5760,
        1808
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c3d3208a-7406-44c5-8a0c-066f38fc337c",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -5536,
        1808
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "error",
              "value": "={{ $('User Found?').item ? 'Invalid password' : ($('Session Valid?').item ? 'Invalid or expired session' : 'User not found') }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "message",
              "value": "={{ $('User Found?').item ? 'The password you entered is incorrect' : ($('Session Valid?').item ? 'Your session has expired. Please login again' : 'No account found with this email address') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "049e4271-9bdc-4d9f-a20f-651fbbac4915",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6208,
        1600
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 401
        }
      },
      "id": "11ebb545-eb93-4eb0-9bdf-6c4f4e00a7c3",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -5984,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "verify",
        "token": "={{ $json.token }}",
        "options": {
          "algorithm": "HS256"
        }
      },
      "id": "8c3e50dd-000f-4832-91f8-eb0e9634d7a2",
      "name": "Verify JWT Token",
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -6880,
        1808
      ],
      "credentials": {
        "jwtAuth": {
          "id": "xIqlZojwc4EOsP1M",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "sessionData",
        "key": "={{ 'session:' + $('Workflow Configuration').item.json.token }}",
        "options": {}
      },
      "id": "b5e49867-cdfd-4b48-aa4d-a06130f22866",
      "name": "Check Session in Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6656,
        1808
      ],
      "credentials": {
        "redis": {
          "id": "1PVQ1XWm7177LWSN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.value }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.sessionData }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60d1c343-905e-4def-8a7f-700d2aed9761",
      "name": "Session Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6432,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ 'session:' + $('Workflow Configuration').item.json.token }}"
      },
      "id": "68462f14-f51f-45b2-8dd7-351a92f29845",
      "name": "Delete Session from Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5984,
        1952
      ],
      "credentials": {
        "redis": {
          "id": "1PVQ1XWm7177LWSN",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "signup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "13e134eb-8a87-440d-a8b8-50e1fee095d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Signup"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "login",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3f215f4-bd1b-4a72-b5ed-4cb6bff048d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Login"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "validate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01d859d1-5f69-4677-a627-b6217aa90fc5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Validate Session"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "logout",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "990f3b31-9f5f-49ad-84c8-4acde0a7abb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Logout"
            }
          ]
        },
        "options": {}
      },
      "id": "663de2b1-e2b8-4cd0-b2dc-c56151438c74",
      "name": "Route by Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -7552,
        1856
      ]
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.password }}",
        "dataPropertyName": "passwordHash"
      },
      "id": "82f3e7dc-6375-467b-af4a-0c766ab4ab52",
      "name": "Hash Password1",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -7328,
        1472
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Authentication Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Operation": {
      "main": [
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash Password1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Delete Session from Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "Create User Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User Record": {
      "main": [
        [
          {
            "node": "Generate JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Exists": {
      "main": [
        [
          {
            "node": "User Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found?": {
      "main": [
        [
          {
            "node": "Generate JWT Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT Token": {
      "main": [
        [
          {
            "node": "Store Session in Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Session in Redis": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT Token": {
      "main": [
        [
          {
            "node": "Check Session in Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session in Redis": {
      "main": [
        [
          {
            "node": "Session Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Valid?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Session from Redis": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password1": {
      "main": [
        [
          {
            "node": "Check User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cabc462a-ef72-4099-9c18-3bd17c57620d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "91b466a56f5870e42e0efd814e3075cdac21fceb93bf3680ca1bb6b55b776a90"
  },
  "id": "iyveget6Lg5i3Bv-mn_LN",
  "tags": []
}